:root {
  --bg-color: black;
  --text-color: white;
  --text-color-alt-1: dodgerblue;
  --text-color-alt-2: white; }

* {
  padding-top: 0.4em;
  padding-bottom: 0.4em; }

.emphasize-1 {
  text-shadow: 0em 0em red;
  text-shadow: -0.2em 0.69em var(--text-color-alt-1); }

.text {
  color: white; }

body {
  padding-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--bg-color);
  color: var(--text-color); }

.left-upper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 55%; }

.right-upper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 45%; }

.left-middle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 50%; }

.right-middle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 50%; }

.wide-banner {
  text-align: center;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 100%; }

.banner-text {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5vw; }

.left-bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  padding-right: 0;
  float: left;
  width: 60%; }

.right-bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 40%; }

.bottom-signature {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  margin-top: 40px;
  float: left;
  width: 100%;
  text-align: center;
  font-family: 'Lato', monospace;
  font-size: 1.3vw; }

@media screen and (max-width: 800px) {
  .left-upper, .right-upper, .left-lower, .right-lower, .links {
    width: 100%; }
  body {
    margin: 0;
    padding: 0; }
  .info {
    text-decoration: underline;
    -webkit-text-decoration-color: var(--text-color-alt-1);
            text-decoration-color: var(--text-color-alt-1); } }

.name {
  font-family: 'Major Mono Display', monospace;
  font-size: 11vw;
  color: var(--text-color-alt-2); }

.title {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 3vw;
  color: var(--text-color-alt-2); }

.info {
  text-align: right;
  font-family: 'Lato', monospace;
  font-size: 2.7vw;
  color: var(--text-color);
  padding: 20px; }

.mid-info-l {
  padding-top: 2.5em;
  text-align: right;
  font-family: 'Lato', monospace;
  font-size: 3vw;
  color: var(--text-color); }

.mid-info-r-title {
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  font-size: 6vw; }

.mid-info-r {
  text-align: justify;
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5vw;
  color: var(--text-color); }

.connect {
  text-align: left;
  font-family: 'Alfa Slab One', cursive;
  font-size: 5vw; }

.connect-link {
  display: block;
  padding: 0;
  text-align: left;
  font-family: 'Rokkitt', serif;
  font-size: 5vw;
  margin: 5px; }

.connect-link:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy; }

a {
  color: var(--text-color);
  text-decoration: none; }
